<html ng-app="myApp">
<head>
    <link rel="canonical" href="amps.html" >

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="/js/accountCtrl.js"></script>
    <script async custom-element="amp-twitter" src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js"></script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <script async src="https://cdn.ampproject.org/v0.js"></script>
</head>

<body ng-controller="accountCtrl">
    <div id = "userInfo">
        <p>ID: <%= user.id %></p>
        <p>Username: <%= user.username %></p>
        <p>Name :<%= user.displayName %></p>
        <p>Photos :<img src=<%= user.photos[0].value %>></p>
    </div>
    <form ng-submit="searchClass()">
        <input type="text" ng-model="className.name" placeholder="Enter desc" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div ng-repeat="id in ids">
        <amp-twitter width="375"
                     height="472"
                     layout="responsive"
                     data-tweetid="{{id}}">
        </amp-twitter>
    </div>
    List of IDs: {{ids}}

</body>
</html>




