<html ng-app="searchApp">
<head>
	<link rel="canonical" href="amps.html" >
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="/angular-simple-sidebar/angular-simple-sidebar.min.css">
	<link rel="stylesheet" type="text/css" href="/css/searchStyle.css">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">

	<script src="/angular-simple-sidebar/angular-simple-sidebar.min.js"></script>
	<script src="/js/searchCtrl.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<script async custom-element="amp-twitter" src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js"></script>
	<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
	<script async src="https://cdn.ampproject.org/v0.js"></script>
</head>

<body ng-controller="searchCtrl">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <angular-simple-sidebar state="state" items="items" title="menuTitle" settings="settings"></angular-simple-sidebar>
            </div>
        </div>
    </nav>

	<!--<form ng-submit="searchClass()">-->
		<!--<input type="text" ng-model="className.name" placeholder="Enter desc" />-->
		<!--<button type="submit" class="btn btn-primary">Submit</button>-->
	<!--</form>-->

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Find Your Study Buddies!</h2>
				<div id="custom-search-input">
					<div class="input-group col-md-12">
						<input type="text" class="form-control input-lg" ng-model="className.name" placeholder="Enter a class to start!" />
						<span class="input-group-btn">
							<button class="btn btn-info btn-lg" type="submit" ng-click="searchClass()">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
